
<div class="container">
    <div class="row mb-5">
        <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Retal Vehicle</h2>
                <p>Website thuê xe online</p>
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Liên Hệ</h2>
                <div class="block-23 mb-3">
                    <ul>
                        <li><span class="icon icon-map-marker"></span><span class="text">452/12 Nhật Tảo , Phường 7, quận 10 TP.Hồ Chí Minh </span></li>
                        <li><a href="#"><span class="icon icon-phone"></span><span class="text">+84 0848 334 139</span></a></li>
                        <li><a href="#"><span class="icon icon-envelope"></span><span class="text">Retalvehicle@gmail.com</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">

            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> CÔNG TY TNHH THƯƠNG MẠI VẬN TẢI & DU LỊCH RETALVEHICLE <i class="icon-heart" aria-hidden="true"></i> 
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</div>
