@model QuanLyThueXe.Models.user
@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="hero-wrap js-fullheight" style="background-image: url('https://wallpaperaccess.com/full/840326.jpg'); height:60px">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-9 " style="margin-top: 200px" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong> Đăng nhập</strong> </h1>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></p>
            </div>
        </div>
    </div>
</div>
<h2 class="text-center mb-4">Đăng Nhập</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Đăng Nhập</h4>
                </div>
                <div class="card-body">
                    <form action="/PublicAuthentication/Login" method="post" class="p-4 border rounded">
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Email</label>
                                <input type="text" id="fname" name="email" class="form-control" required>
                            </div>
                        </div>
                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Mật khẩu</label>
                                <input type="password" id="fname" name="password" class="form-control" required>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <input type="submit" value="Đăng nhập" class="btn btn-block btn-primary btn-md">
                            </div>
                            <div class="col-md-6">
                                <a href="/PublicAuthentication/Register" class="btn btn-block btn-secondary btn-md">Đăng ký</a>
                            </div>
                        </div>
                  
                  
                    </form>
                </div>
        </div>
    </div>
</div>
 </div>
