
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="hero-wrap js-fullheight" style="background-image: url('/Content/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-9 " style="margin-top: 200px" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong>Register Or Login</strong> </h1>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></p>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.mess == "Success")
{
    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 40PX;z-index: 2000;width: 300px">

        <script>
            swal({
                title: 'Đăng ký thành công!',
                /* text: 'Redirecting...', */
                icon: 'success',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
}

@if (ViewBag.mess == "ErrorExist")
{

    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 10PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Tên người dùng đã tồn tại!',
                /* text: 'Redirecting...', */
                icon: 'error',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
}
@if (ViewBag.mess == "ErrorPassword")
{

    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 10PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Hai mật khẩu không trùng khớp',
                /* text: 'Redirecting...', */
                icon: 'error',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
}

@if (ViewBag.mess == "Error")
{

    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 10PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Thông tin tài khoản hoặc mật khẩu không chính xác',
                /* text: 'Redirecting...', */
                icon: 'error',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
}
<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Đăng ký/ Đăng nhập</h1>

            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h2 class="mb-4">Đăng kí</h2>
                <form action="/PublicAuthentication/Register" method="post" class="p-4 border rounded">

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Email</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Họ và tên</label>
                            <input type="text" id="email" name="fullName" class="form-control" required>
                        </div>
                    </div>                  
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Mật khẩu</label>
                            <input type="password" id="" name="password" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Nhập lại mật khẩu</label>
                            <input type="password" id="fname" name="rePassword" class="form-control" required>
                        </div>
                    </div>                                  
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Số điện thoại</label>
                            <input type="text" id="fname" name="phoneNumber" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Đăng ký" class="btn px-4 btn-primary text-white">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Đăng nhập</h2>
                <form action="/PublicAuthentication/Login" method="post" class="p-4 border rounded">

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Email</label>
                            <input type="text" id="fname" name="email" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Mật khẩu</label>
                            <input type="password" id="fname" name="password" class="form-control" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <input type="submit" value="Đăng nhập" class="btn btn-block btn-primary btn-md">
                        </div>
                        <div class="col-md-6">


                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

