
<div id="layoutSidenav_nav">
    @*   @{ var userInfomatiom = (QuanLyChamCong.Models.User)Session["USER"]; }*@
    <nav style="background-color: #F1F1F1 !important" class="sb-sidenav accordion " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý phòng
                </a>

                @*   <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/CheckIn/Index">Điểm danh</a>
                            <a class="nav-link" href="/AdditionalTimekeeping/Index">Chấm công bổ sung </a>

                        </nav>
                    </div>

                    <div class="collapse" id="collapseLayouts1" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/loaigiangvien/getall">Điểm danh</a>
                            <a class="nav-link" href="/AdditionalTimekeeping/Index">Chấm công bổ sung </a>

                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Hợp đồng

                    </a>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Báo cáo
                    </a>*@
            </div>
        </div>
    </nav>
</div>



