
<div id="layoutSidenav_nav">
    @*   @{ var userInfomatiom = (QuanLyChamCong.Models.User)Session["USER"]; }*@
    <nav style="background-color: #F1F1F1 !important" class="sb-sidenav accordion " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link collapsed" href="/AdminVehicle/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý xe
                </a>
                <a class="nav-link collapsed" href="/AdminUser/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý người dùng
                </a>
                <a class="nav-link collapsed" href="/AdminRental/Index" d>
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý đơn thuê
                </a>
                <a class="nav-link collapsed" href="/AdminVoucher/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý voucher
                </a>
                <a class="nav-link collapsed" href="/Revenue/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Doanh thu
                </a>

            </div>
        </div>
    </nav>
</div>



